<!DOCTYPE html>
<html>
<head>
<title>Edit Employee</title>
</head>
<body>
<h2>Edit Employee</h2>
<form method="post">
Name:<br>
<input type="text" name="name" value="{{emp[1]}}"><br><br>
Email:<br>
<input type="email" name="email" value="{{emp[2]}}"><br><br>
Phone:<br>
<input type="text" name="phone" value="{{emp[3]}}"><br><br>
Department:<br>
<input type="text" name="department" value="{{emp[4]}}"><br><br>
<input type="submit" value="Update">
</form>
<br>
<a href="/">Back</a>
</body>
</html>